@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";

@import "./components/shared";
@import "./components/page-header-logo";
@import "./components/page-header";
@import "./components/site-nav";
@import "./components/site-contacts";
@import "./components/hero";
@import "./components/hero-buttons";
@import "./components/section-features";
@import "./components/section-activity";
@import "./components/section-team";
@import "./components/social-icons";
@import "./components/clients-list";
@import "./components/page-footer";
@import "./components/form-subscription";
@import "./components/modal";
@import "./components/form";
@import "./components/buttons-list";
@import "./components/projects";
