/* Шапка сайта*/

.page-header {
  border-bottom: 1px solid $header-border-bottom;
  display: flex;
  align-items: center;
}
.page-header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}
