/* Портфолио */
.projects {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}
.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects__link {
  text-decoration: none;
}
.projects__box {
  position: relative;
  overflow: hidden;
}
.projects-overlay {
  display: inline-block;
  position: absolute;

  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);

  .projects__link:hover & {
    transform: translateY(0);
  }
}

.projects-overlay__box {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects-overlay__description {
  width: 322px;
  height: 168px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white-text;
}
.projects__text-block {
  padding: 20px 24px;
  border-right: 1px solid $portfolio-border;
  border-bottom: 1px solid $portfolio-border;
  border-left: 1px solid $portfolio-border;
}
.projects__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.87;
}
