.section-activity {
  padding-top: 0;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.section-activity__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}
.section-activity__item {
  margin-right: 30px;
  position: relative;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.section-activity__image {
  display: block;
  @media screen and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (max-width: 1200px) {
    width: 370px;
  }
}

.section-activity__box {
  position: absolute;
  @include centeredFlex();
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);

  height: 70px;

  @media screen and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (max-width: 1200px) {
    width: 370px;
  }
}
.section-activity__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text;
}
