/* Навигация */
.page-header__nav {
  display: flex;
  align-items: center;
}
.site-nav {
  @extend %list;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    margin-bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current {
  color: $accent-color;
  &::after {
    background-color: $accent-color;
  }
}
