$primary-text-color: #757575;
$title-text-color: #212121;
$secondare-logo-color: #000000;
$accent-color: #2196f3;
$white-text: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$complementary-bg-color: #f5f4fa;
$primary-button-hover: #188ce8;
$filter-bg-color: #f5f4fa;
$transparent-text: rgba(255, 255, 255, 0.6);
$header-border-bottom: #ececec;
$portfolio-border: #eeeeee;
$icons-color: #afb1b8;
$icons-white-color: #ffffff;
